.calender-Field {
  height: auto;
  background-color: #f0f2f5;
  padding: 50px;

  &__outline {
    height: auto;
    border: 1px solid lightgray;
    background-color: #fff;
    .calendar-show-link {
      width: 50px;
      height: auto;
      text-decoration: none;
      background-color: lightgray;

      .calendar-text {
        width: 100px;
      }
    }
  }
}

@media (max-width: 480px) {
  .calender-Field {
    padding: 50px 5px 50px 5px;

    &__outline {
      .simple-calendar {
        .calendar-heading {
          width: 100%;
        }
      }
      .calendar-show-link {
        width: 50px;
        height: auto;
        text-decoration: none;
        background-color: lightgray;

        .calendar-text {
          width: 100px;
        }
      }
    }
  }
}
