header {
  height: 80px;
  width: 100vw;
  background-color: burlywood;

  .container {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .header-left {
      width: 20%;

      .user-nav {
        display: flex;
        margin: 0 auto;
        width: 50%;
        position: relative;
        cursor: pointer;
        border: none;

        .user-circle {
          display: block;
          padding: 7px;
        }
        .user-name {
          color: #666666;
          margin-left: 10px;
          font-weight: bold;
          font-size: large;
        }
      }
    }
    .header-center {
      width: 10%;
      display: flex;

      .application-icon {
        padding: 9px;
        font-size: large;
      }
      .title {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    .header-right {
      transition: all 0.5s;
      width: 20%;

      ul {
        display: flex;
        justify-content: space-around;

        li {
          .ToMypage {
            color: #fff;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            line-height: 45px;
            width: 100px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            border: 1px solid transparent;
            outline: 1px solid;
            outline-color: rgba(255, 255, 255, 0.5);
            outline-offset: 0px;
            text-shadow: none;
            transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
            text-align: center;
            // border-radius: 50%;
          }

          .ToMypage:hover {
            border-color: #fff;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
              0 0 20px rgba(255, 255, 255, 0.2);
            outline-color: transparent;
            outline-offset: 12px;
            text-shadow: 2px 2px 3px #000;
          }

          .Logout {
            color: #fff;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            line-height: 45px;
            width: 100px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            border: 1px solid transparent;
            outline: 1px solid;
            outline-color: rgba(255, 255, 255, 0.5);
            outline-offset: 0px;
            text-shadow: none;
            transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
            text-align: center;
            // border-radius: 50%;
          }

          .Logout:hover {
            border-color: #fff;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
              0 0 20px rgba(255, 255, 255, 0.2);
            outline-color: transparent;
            outline-offset: 12px;
            text-shadow: 2px 2px 3px #000;
          }

          .post {
            color: #fff;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            line-height: 45px;
            width: 100px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            border: 1px solid transparent;
            outline: 1px solid;
            outline-color: rgba(255, 255, 255, 0.5);
            outline-offset: 0px;
            text-shadow: none;
            transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
            text-align: center;
            // border-radius: 50%;
          }

          .post:hover {
            border-color: #fff;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
              0 0 20px rgba(255, 255, 255, 0.2);
            outline-color: transparent;
            outline-offset: 12px;
            text-shadow: 2px 2px 3px #000;
          }
        }
      }
    }
  }
}
