header {
  height: 80px;
  width: 100vw;
  background-color: burlywood;

  .container {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .header-left {
      transition: all 0.5s;
      width: 20%;

      ul {
        display: flex;
        justify-content: space-around;

        li {
          .ToMypage {
            color: #fff;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            line-height: 45px;
            width: 100px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            border: 1px solid transparent;
            outline: 1px solid;
            outline-color: rgba(255, 255, 255, 0.5);
            outline-offset: 0px;
            text-shadow: none;
            transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
            text-align: center;
            // border-radius: 50%;
          }

          .ToMypage:hover {
            border-color: #fff;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
              0 0 20px rgba(255, 255, 255, 0.2);
            outline-color: transparent;
            outline-offset: 12px;
            text-shadow: 2px 2px 3px #000;
          }

          .Logout {
            color: #fff;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            line-height: 45px;
            width: 100px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            border: 1px solid transparent;
            outline: 1px solid;
            outline-color: rgba(255, 255, 255, 0.5);
            outline-offset: 0px;
            text-shadow: none;
            transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
            text-align: center;
            // border-radius: 50%;
          }

          .Logout:hover {
            border-color: #fff;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
              0 0 20px rgba(255, 255, 255, 0.2);
            outline-color: transparent;
            outline-offset: 12px;
            text-shadow: 2px 2px 3px #000;
          }

          .post {
            color: #fff;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            line-height: 45px;
            width: 100px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            border: 1px solid transparent;
            outline: 1px solid;
            outline-color: rgba(255, 255, 255, 0.5);
            outline-offset: 0px;
            text-shadow: none;
            transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
            text-align: center;
            // border-radius: 50%;
          }

          .post:hover {
            border-color: #fff;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
              0 0 20px rgba(255, 255, 255, 0.2);
            outline-color: transparent;
            outline-offset: 12px;
            text-shadow: 2px 2px 3px #000;
          }
        }
      }
    }

    .header-center {
      width: 10%;
      display: flex;

      .application-icon {
        padding: 9px;
        font-size: large;
      }
      .title {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    .header-right {
      width: 20%;

      &__outer {
        display: flex;
        justify-content: space-evenly;

        &--inner {
          display: block;

          .event-action-btn {
            text-decoration: none;
            color: #666666;
          }
          .event-action-btn:hover {
            border: 1px solid lightgray;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1001px) {
  .global-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .black-bg {
    display: none;
  }
}

/* ハンバーガーメニュー */
@media screen and (max-width: 1000px) {
  .header-left {
    display: none;
  }
  .header-center {
    margin: 0 auto;
  }
  .global-nav {
    position: fixed;
    left: -320px; /* これで隠れる */
    top: 0;
    width: 300px; /* スマホに収まるくらい */
    height: 100vh;
    padding-top: 40px;
    background-color: #fff;
    transition: all 0.6s;
    z-index: 200;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */

    .global-nav__list {
      margin: 0;
      padding: 0;
      list-style: none;

      .global-nav__item {
        text-align: center;
        padding: 0 14px;

        .global-nav__item a {
          text-decoration: none;
          display: block;
          padding: 8px 0;
          border-bottom: 1px solid #eee;
          text-decoration: none;
          color: #111;
        }
        .global-nav__item a:hover {
          background-color: #eee;
        }
      }
    }
  }
  .hamburger {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
    height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
    cursor: pointer;
    z-index: 300;

    .hamburger__line {
      position: absolute;
      left: 11px;
      width: 18px;
      height: 1px;
      background-color: #111;
      transition: all 0.6s;
    }
    .hamburger__line--1 {
      top: 14px;
    }
    .hamburger__line--2 {
      top: 20px;
    }
    .hamburger__line--3 {
      top: 26px;
    }
  }

  .black-bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    cursor: pointer;
  }
  /* 表示された時用のCSS */
  .nav-open .global-nav {
    left: 0;
  }
  .nav-open .black-bg {
    opacity: 0.8;
    visibility: visible;
  }
  .nav-open .hamburger__line--1 {
    transform: rotate(405deg);
    top: 20px;
  }
  .nav-open .hamburger__line--2 {
    width: 0;
    right: 50%;
  }
  .nav-open .hamburger__line--3 {
    transform: rotate(-405deg);
    top: 20px;
  }
}
