.EventField {
  width: 100&;
  height: auto;

  .event-show-btn {
    text-decoration: none;

    .EventInfo {
      display: flex;
      height: 80px;
      border: 1px solid lightgray;
      margin-bottom: 10px;

      &__prefecture {
        color: #f0add3;
        font-weight: bold;
      }
      &__main {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        height: 80px;

        .event-name {
          font-weight: bold;
          color: black;
        }
        .EventHost--Area {
          display: flex;

          .host {
            color: #797b7e;
          }
          .host-name {
            color: #797b7e;
          }
        }
        .enter-judge {
          text-decoration: none;
          color: #797b7e;
        }
      }
    }
  }
  .event-show-btn:hover {
    opacity: 0.5;
  }
}
