.CreateEventField {
  width: 100vw;
  height: auto;
  background-color: #f0f2f5;
  padding: 50px 100px 50px 100px;

  &__outline {
    background-color: white;
    width: 70vw;
    height: auto;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;

    #new-event {
      padding: 30px;
      height: auto;

      .top-area {
        padding-bottom: 30px;

        .create-item-1 {
          display: flex;
          flex-direction: column;

          .Form-label {
            color: #65676b;
            font-weight: bold;
            font-size: larger;
          }
          .name-field {
            width: 100%;
            height: 60px;
            border: none;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 10px;
          }
        }
      }

      .middle-area {
        padding-bottom: 30px;

        .create-item-2 {
          margin-bottom: 30px;
          .Form-label {
            color: #65676b;
            font-weight: bold;
            font-size: larger;
          }
          #event_start_time_1i {
            width: 10%;
            height: 50px;
            border: none;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 10px;
          }
          #event_start_time_2i {
            width: 10%;
            height: 50px;
            border: none;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 10px;
          }
          #event_start_time_3i {
            width: 10%;
            height: 50px;
            border: none;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 10px;
          }
          #event_start_time_4i {
            width: 10%;
            height: 50px;
            border: none;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 10px;
          }
          #event_start_time_5i {
            width: 10%;
            height: 50px;
            border: none;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 10px;
          }
        }

        .create-item-3 {
          .Form-label {
            color: #65676b;
            font-weight: bold;
            font-size: larger;
          }
          .tag-field {
            width: 100%;
            height: 60px;
            border: none;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 10px;
          }
          #event_genre {
            width: 100%;
            height: 60px;
            border: none;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 10px;
          }
        }
      }
      .bottom-area {
        display: flex;
        padding-bottom: 30px;
        justify-content: space-between;

        .create-item-4 {
          display: flex;
          flex-direction: column;
          width: 40%;

          .Form-label {
            color: #65676b;
            font-weight: bold;
            font-size: larger;
          }
          .place-field {
            width: 100%;
            height: 60px;
            border: none;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 10px;
          }
        }
      }

      .create-item-5 {
        display: flex;
        flex-direction: column;

        .Form-label {
          color: #65676b;
          font-weight: bold;
          font-size: larger;
        }
        .detail-area {
          width: 100%;
          height: 150px;
          border: none;
          outline: none;
          border: 1px solid lightgray;
          border-radius: 10px;
          white-space: pre-wrap;
          word-wrap: break-word;
        }
      }
      .create-btn-field {
        padding-top: 20px;
        .create-btn {
          display: block;
          margin: 0 auto;
          width: 200px;
          height: 50px;
          background-color: #e4e6ea;
          border-radius: 10px;
          border: none;
          color: #65676b;
          cursor: pointer;
          font-weight: bold;
        }
        .create-btn:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  div.CreateEventField {
    padding: 50px 10px 50px 10px;

    &__outline {
      width: 80vw;
      margin: 0 auto;

      #new-event {
        padding: 30px;
        height: auto;

        .middle-area {
          padding-bottom: 30px;

          .create-item-2 {
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            #event_start_time_1i {
              width: 100%;
            }
            #event_start_time_2i {
              width: 100%;
            }
            #event_start_time_3i {
              width: 100%;
            }
            #event_start_time_4i {
              width: 100%;
            }
            #event_start_time_5i {
              width: 100%;
            }
          }
        }
        .bottom-area {
          display: flex;
          flex-direction: column;
          padding-bottom: 30px;
          justify-content: space-between;

          .create-item-4 {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
