.CreateEventField {
  width: 100vw;
  height: 100vh;
  background-color: #cccccc;
  position: relative;

  &__outline {
    background-color: white;
    width: 600px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;

    #new-event {
      padding: 30px;

      .create-item {
        margin-bottom: 10px;

        .Form-label {
          color: #65676b;
          font-weight: bold;
          font-size: larger;
        }
      }
    }
  }
}
