.ShowEventField {
  width: 100vw;
  height: auto;
  background-color: #f0f2f5;
  padding: 50px 100px 50px 100px;

  &__outline {
    background-color: white;
    width: 70vw;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;

    .EventHostArea {
      padding: 30px;
      display: flex;
      align-items: center;
      position: relative;

      .host {
        font-weight: bold;
        color: #65676b;
        font-size: large;
        margin-right: 20px;
        height: 50px;
        line-height: 50px;
      }
      .recruiter-icon {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 10px;
        line-height: 50px;
      }
      .user-icon {
        margin-right: 20px;
        font-size: 2rem;
        height: 50px;
        line-height: 50px;
      }
      .recruiter-name {
        font-size: large;
        font-weight: bold;
        color: #65676b;
        height: 50px;
        line-height: 50px;
      }
      .favorite-area {
        width: 20%;
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;

        .favorite-heading {
          font-size: large;
          margin-right: 10px;
          font-weight: bold;
          color: #65676b;
          padding: 6px;
        }

        .favorite-link {
          display: block;
          text-decoration: none;

          .favorite-icon {
            font-size: 2rem;
            color: lightgray;
          }
        }
      }
    }
    .EventImageArea {
      width: 100%;
      height: 200px;
      background-image: url("event-image.png");
      background-size: cover;
      position: relative;

      &__info {
        position: absolute;
        bottom: 0;
        display: flex;
        padding-left: 30px;
        width: 90%;

        &--date {
          color: #fff;
          font-weight: bold;
          font-size: 1.5rem;
          margin-right: 30px;
        }
        &--name {
          font-weight: bold;
          color: #fff;
          font-size: 1.5rem;
        }
      }
    }
  }
}
