.EventShowArea {
  width: 100vw;
  height: 100vh;
  background-color: #cccccc;
  position: relative;

  &__Form {
    background-color: white;
    width: 65vw;
    height: 80vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
  }
}
