.wrap-video {
  height: 400px;
  position: relative;

  .text {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); /*上下左右中央寄せ*/

    h1 {
      color: #fff;
      font-size: 3rem;

      .typed {
        font-size: 5rem;
        font-weight: bold;
        letter-spacing: 0.2em;
      }

      .typed::after {
        content: "|";
        animation: blink 0.7s infinite;
      }
      @keyframes blink {
        50% {
          opacity: 0;
        }
      }
    }
  }
  .top-movie {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Tab-Area {
  height: auto;
  width: 100%;

  .tab-nav {
    display: flex;
    width: 50%;
    margin: 0 auto;

    .tab-nav-item {
      margin-right: 5px;
      color: #65676b;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px 5px 0 0;
    }
    .tab-nav-item.is-active {
      color: #65676b;
      border-bottom: 3px solid lightgray;
    }
    .tab-contents {
      border-top: 1px solid #ccc;

      &__item {
        display: none;
      }
    }
  }
}
