.wrap-video {
  height: 300px;
  position: relative;

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); /*上下左右中央寄せ*/
    text-align: center;

    .title {
      font-size: 4rem;
      font-weight: bold;
      color: white;
      font-family: "Kaushan Script", cursive;
    }
    .headline {
      font-size: 20px;
      color: white;
    }
  }
  .top-movie {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.TabArea {
  padding-top: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: lightgray;

  &__inner {
    .tab_menu {
      /*タブの基本スタイル*/
      border-bottom: solid 3px #5bc0de;
      // background-color: #eee;
      margin: 0;
      padding: 0 1rem;
      color: #333333;

      /*選択されていないタブは透明色*/
      background-color: transport;
    }
    .tab_contains {
      /*選択されていないコンテンツは非表示*/
      display: none;
    }
    .tab_radio:checked + .tab_menu {
      /*選択されているタブは白背景*/
      /* タブコンテンツの上線にかぶせて隠す */
      background-color: white;
    }
    #tab_radio_A:checked ~ #tab_contains_A,
    #tab_radio_B:checked ~ #tab_contains_B,
    #tab_radio_C:checked ~ #tab_contains_C {
      display: block;

      /*コンテンツの基本スタイル*/
      width: 60vw;
      border-bottom: 1px solid lightgray;
      padding: 1rem;

      /*選択されたタブで上線をかぶせる*/
      //margin-top:-1px;
      background-color: white;
    }
    .tab_radio {
      /*ラジオボタンは表示しない*/
      display: none;
    }
  }
}
