@import "reset";
@import "modules/calendar";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/header";
@import "modules/footer";
@import "registrations/new";
@import "sessions/new";
@import "events/index";
@import "events/event-index";
@import "events/new";
@import "events/confirm";
@import "events/create";
@import "events/show";
@import "events/search";
@import "modules/event-show-tab";
@import "modules/user-index";
@import "modules/host-event";
@import "modules/join-event";
@import "modules/favorite-event";
@import "modules/event-calender";
@import "modules/comment";
@import "modules/event-applicant";
@import "users/show";
@import "users/edit";
@import "users/icon";
@import "user_images/edit";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar 追加
 *= require_tree .
 *= require_self
 */

.notification:not(:last-child) {
  margin-bottom: 0;
}

body {
  height: auto;
  width: 100vw;
  .Wrapper {
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
    box-sizing: border-box;

    .notifications {
      color: #fff;
      text-align: center;

      .notice {
        background-color: lightBlue;
      }
      .alert {
        background-color: red;
      }
    }
  }
}
