.TopIntroduction {
  width: 60vw;
  height: 40%;
  margin: 0 auto;
  // border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;

  .user-circle {
    font-size: 5rem;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 50px;
  }
  &__inner {
    margin-left: 20px;

    .user-name {
      font-weight: bold;
      font-size: large;
    }
    .user-introduction {
      margin-top: 10px;
      width: 500px;
      word-wrap: break-word;
    }
  }
  .Edit-link {
    display: block;
    height: 200px;
    display: flex;
    align-items: center;
    margin-left: auto;

    .Edit-link-btn {
      display: block;
      text-decoration: none;
      border: 1px solid lightgray;
      color: #666666;
      border-radius: 10px;
      height: 30px;
      width: 150px;
      text-align: center;
      line-height: 30px;
      font-size: small;
    }
    .Edit-link-btn:hover {
      opacity: 0.5;
    }
  }
}

.Tab-Area {
  height: auto;
  width: 100%;

  .tab-nav {
    display: flex;
    width: 50%;
    .tab-nav-item {
      margin-right: 5px;
      color: #65676b;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px 5px 0 0;
    }
    .tab-nav-item.is-active {
      color: #65676b;
      border-bottom: 3px solid lightgray;
    }
    .tab-contents {
      border-top: 1px solid #ccc;
      &__item {
        display: none;
        // background-color: #f0f2f5;
      }
    }
  }
}
